body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #1d2759;
    width: 100%;
    height: 100vh;
    background-image: url(/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

}

body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

div, li, p {
    font-family: Lato, sans-serif;
    font-weight: 700
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, serif;
    margin-left: 2vh;
    margin-top: 1vh;
}
h1 {
    font-size: 3vh;
}

h2 {
    font-size: 3vh;
    text-align: center
    color: #00274e;
}

h3 {
    font-size: 2vh;
    color: #00274e;
}

h4 {
    font-size: 2vh;
    margin-top:     1vh;
    margin-bottom:  .5vh;
    color: #00274e !important   ;
}

h4 i {
    font-size:  4vh;
    width:  6vh;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display:    flex;
    flex-wrap:  wrap;   
    width:  auto;
    margin-left:    auto;
    margin-right:   auto;
}

#clockContainer, #currentContainer, #nextupContainer, #newsContainer {
    width: 57vh;
    background-color: rgba(255, 255, 255, .85);
}

.site-header {
    order:1;
    position: fixed;
    height: 10vh;
    flex: 0 0 100%;
    color: #00274e;
    background: rgba(255, 255, 255, .85);
    text-align: center;
    text-shadow: .2vh .125vh .25vh rgba(0, 0, 0, .5);
    font-size: 8vh;
    overflow-x: hidden;
    width: 100%;
}

.site-header2 {
    position: fixed;
    order: 2;
    flex: 0 0 100%;
    height: 5vh;
    background-color: #00274ecc;
    text-align: center;
    color: #fff;
    font-size: 4vh;
    text-shadow: .2vh .125vh .25vh rgba(0, 0, 0, .5);
    width: 100%;
    margin-top: 10vh;
}

#clock {
    font-size: 8vh;
    text-align: center;
    justify-content: center;
    margin: auto auto;
    width: 100%;
    color: #00274e;
}

#clockContainer, #currentContainer, #nextupContainer, #newsContainer {
    display: inline-block;
    height: 40vh;
    margin-top: 16vh;
    margin-left: 1vh;
}

#clockContainer {
    height: 20vh;
}

#currentContainer {
    position: fixed;
    margin-left: 2vh;
}
#currentContainer ul {
    display:    flex;  
    column-count:   3;
    margin-left:    1vh;
}

#currentContainer h4 {
    margin-left:    0;
}

#current {
    height: 33vh;
    overflow-y: scroll;
}
#nextupContainer {
    position: fixed;
    margin-left: 61vh;
}
#nextup {
    height: 100%;
}
#nextupContainer ul {
    align-items:    center;
    display:    list-item;  
    column-count:   2;
    margin-left:    1vh;
}

#newsContainer {
    position: fixed;
    margin-top: 38vh;
    margin-left: -57vh;
    height: 50vh;
}

.nextperson {
     margin-left:   1vh;
     font-size:     2.5vh;
     display:   flex;
     padding: .25vh;
}

.nextperson .nextdept {
    flex-basis:     15vh;
    overflow-x: hidden;
    order: 2;
}

.nextperson .name {
    flex-basis:     15vh;
    overflow-x: hidden;
    text-overflow: ellipsis;
    order:1;
}

.person {
    display: inline-block;
    font-size: 2.5vh;
    text-align: left;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 2vh;   
    margin-top:     1vh;
    width:  18vh;
    white-space:    nowrap; 
}

.person i {
    font-size: 2.5vh;
}

.bc h4 , .bc i, i.bc, .br h4, .br i, i.br {
    color: rgba(176,3,3, 0.9);
}

.ps h4, .ps i, i.ps {
    color: rgba(18, 190, 31, 0.9);
}

.lu h4, .lu i, i.lu {
    color: rgba(218,165,32, 0.9);
}
.as h4, .as i, i.as {
    color: rgba(129,194,35, 0.9);
}

.tr h4, .tr i, i.tr {
    color: rgba(164,24,171, 0.9);
}

.rp h4, .rp i, i.rp {
    color: rgba(64, 104, 252, 0.9);
}

.fp h4, .fp i, i.fp {
    color: rgba(255, 91, 56, 0.9);
}

.hr h4, .hr i, i.hr {
    color: rgba(247, 165, 64, 0.9);
}

.sd h4, .sd i, i.sd {
    color: rgba(2, 207, 229, 0.9);
}

.footer {
    position: fixed;
    top: 97vh;
    margin-left: 1vh;
    z-index: 10; 
    padding: 1vh;
    width: 30vh;
    color:  #fff;
}

aside {
    grid-area: aside;
    text-align: center
}

aside img {
    display: block;
    margin-left: 3.5vh;
    width: auto;
    max-width: 50vh;
    max-height: 40vh;
    -webkit-box-shadow: 0 0 1vh rgba(0, 0, 0, .5);
    box-shadow: 0 0 1vh rgba(0, 0, 0, .5)
}

::-webkit-scrollbar {
    display:    none;
}
